@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
    @apply text-primary-100;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #ec4e20;
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 9999px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      background-color: #ec4e20;
    }
    .dark &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .dark &::-webkit-scrollbar-thumb {
      background-color: #1f2937;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}
